
<div class="panel panel-default">
  <div class="panel-heading">
    <img class="imagePokemon" [src]=pokemon.spriteFront>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <th colspan="2">
          <h3>{{ pokemon.name }}</h3>
        </th>
      </tr>
      <tr>
        <td >
          poids :
        </td>
        <td >
          {{ pokemon.weight }}
        </td>
      </tr>
      <tr>
        <td >
          taille :
        </td>
        <td >
          {{ pokemon.height }}
        </td>
      </tr>
    </table>
  </div>
</div>
